.card{
  width: 35rem ; 
  margin: auto;
}
.card-img-top{
    height: 22rem
}
@media screen  and (max-width: 767px)
{
    .card{
        width: 20rem ; 
        margin: auto;
      }
      .card-img-top{
        height: 20rem
    }
}
@media screen  and (max-width: 1200px)
{
    .card{
        width: 25rem ; 
        margin: auto;
      }
      .card-img-top{
        height: 20rem
    }
}
@media screen  and (max-width: 848px)
{
    .card{
        width: 20rem ; 
        margin: auto;
      }
      .card-img-top{
        height: 15rem
    }
}
@media screen  and (min-width: 4098px)
{
    .card{
        width: 60rem ; 
        margin: auto;
      }
      .card-img-top{
        height: 40rem
    }
}