.contactheader
{
    margin-top:8rem ;
  


}
.col-md-6{
    margin-bottom: 3%;
    margin-top: 3%;
}
.header{
    vertical-align: center;
    /* background-color: rgb(116, 107, 107); */
    text-align: center;
    height: 150px;
}
.formrow{
    margin: 2%;
    margin-left: 0;
    margin-right: 0%;
}
.input{
color: blue;
    background: transparent;
    margin: 5px;
    border: none;
    border-bottom: dashed 1px rgb(0, 0, 0) ;
    width: 80%;
}
.form
{  width:65%;

    border-style: solid;

    border-color: rgb(255, 255, 255);
    
   padding: 2%;
    text-align: center;
    margin: auto;
    /* border-style: dotted;
    border-radius: 5%;
    border-color: rgb(99, 94, 94); */


}
.form:hover{
    border-style: groove;

    border-color: black;
    background-color: aquamarine;
}
.button{
   align-items: flex-start;
   background-color: transparent;
}
@media screen  and (max-width: 767px)
{
 .form{
    width: 100%;
 }
}